loguru
colorama
tqdm

numpy
scikit-learn
pandas
jupyter
ipywidgets
openpyxl
einops
matplotlib
plotly
mne
seaborn
statsmodels
pyyaml
torch
torchvision
torchaudio
torchmetrics
lightning
transformers
wandb




